#contacts{
    padding-block: 120px;

    &>div{
        text-align: center;
        margin-bottom: 48px;

        & h3{
            font: var(--inconsolata-subtitle);
            color: var(--purple);
            margin-bottom: 8px;
        }
        
        & h2{
            font: var(--asap-title-md);
            color: var(--gray-600);
            margin-bottom: 8px;
        }

        & p{
            font: var(--maven-text-sm);
            color: var(--gray-500);
        }
    }

    & .contacts-cards-container{
        max-width: 400px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & li{
            & a{
                height: 68px;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                background-color: var(--gray-300);
                border-radius: 8px;
                transition: .2s;
                border: 0px solid var(--gray-300);

                &:hover{
                    transform: translateY(-5px);
                }

                & div{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & i{
                        font-size: 28px;
                        color: var(--gray-500);
                        transition: .2s;
                    }

                    & span{
                        font: var(--asap-title-sm);
                        color: var(--gray-500);
                        transition: .2s;
                    }
                }

                &>i{
                    color: var(--blue);
                }
            }
        }

        &>li:nth-child(1){
            & a{
                &:hover{
                    border: 2px solid var(--blue);
                }

                &:hover i{
                    color: var(--blue);
                }

                &:hover span{
                    color: var(--blue);
                }
            }
        }

        &>li:nth-child(2){
            & a{
                &:hover{
                    border: 2px solid var(--purple);
                }

                &:hover i{
                    color: var(--purple);
                }

                &:hover span{
                    color: var(--purple);
                }
            }
        }
        &>li:nth-child(3){
            & a{
                &:hover{
                    border: 2px solid #FFFFFF;
                }

                &:hover i{
                    color: #FFFFFF;
                }

                &:hover span{
                    color: #FFFFFF;
                }
            }
        }
        &>li:nth-child(4){
            & a{
                &:hover{
                    border: 2px solid var(--yellow);
                }

                &:hover i{
                    color: var(--yellow);
                }

                &:hover span{
                    color: var(--yellow);
                }
            }
        }
    }
}