*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        /* FONTS */
    /* Asap */
    --asap: "Asap", sans-serif;
    --asap-title-lg: 750 56px/120% var(--asap);
    --asap-title-md: bold 24px/120% var(--asap);
    --asap-title-sm: bold 16px/120% var(--asap);
    /* Inconsolata */
    --inconsolata: "Inconsolata", monospace;
    --inconsolata-subtitle: 20px/120% var(--inconsolata);
    /* Maven Pro */
    --maven-pro: "Maven Pro", sans-serif;
    --maven-text-md: 16px/140% var(--maven-pro);
    --maven-text-sm: 14px/140% var(--maven-pro);


        /* COLORS */
    /* Main */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    /* Base */
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 600px;
}

body{
    &::-webkit-scrollbar{
        width: 5px;
    }
    
    &::-webkit-scrollbar-track{
        background-color: var(--gray-100);
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: var(--gray-300);
        border-radius: 8px;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.padding-inline-120px{
    padding-inline: 120px;
}

.banner{
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-inline: 20px;
    height: auto;
}

.background-standard{
    background-color: var(--gray-200);
}

.background-black{
    background-color: var(--gray-100);
}