*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        /* FONTES */
    /* Asap */
    --asap: "Asap", sans-serif;
    --asap-title-lg: bold 56px/120% var(--asap);
    --asap-title-md: bold 24px/120% var(--asap);
    --asap-title-sm: bold 16px/120% var(--asap);
    /* Inconsolata */
    --inconsolata: "Inconsolata", monospace;
    --subtitle: 20px/120% var(--inconsolata);
    /* Maven Pro */
    --maven-pro: "Maven Pro", sans-serif;
    --maven-text-md: 16px/140% var(--maven-pro);
    --maven-text-sm: 14px/140% var(--maven-pro);

}

body{
    font-family: var(--font-family);
}