#my-services{
    padding-block: 88px;
    
    &>div:nth-child(1){
        text-align: center;
        margin-bottom: 56px;

        & h3{
            font: var(--inconsolata-subtitle);
            color: var(--red);
            margin-bottom: 8px;
        }

        & h2{
            font: var(--asap-title-md);
            color: var(--gray-600);
        }
    }

    & .cards-services-container{
        display: grid;
        grid-template-columns: repeat(3, 280px);
        gap: 24px;
        justify-content: center;

        & .card{
            padding: 20px;
            border-radius: 8px;
            border: 2px solid var(--gray-200);

            & i{
                font-size: 40px;
                margin-bottom: 20px;
            }

            & h1{
                font: var(--asap-title-sm);
                color: var(--gray-600);
                margin-bottom: 8px;
            }

            & p{
                font: var(--maven-text-sm);
                color: var(--gray-500);
            }
        }

        & .card:nth-child(1){
            & i{
                color: var(--purple);
            }
        }

        & .card:nth-child(2){
            & i{
                color: var(--yellow);
            }
        }
        
        & .card:nth-child(3){
            & i{
                color: var(--green);
            }
        }
    }
}