#scroll-default{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    aspect-ratio: 1/1;
    position: fixed;
    opacity: 0;
    bottom: -100px;
    right: 25px;
    color: var(--gray-600);
    background-color: var(--gray-300);
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#scroll-default.active{
    bottom: 25px;
    opacity: 1;
}